<h1>フォローしているユーザー</h1>

<table>
  <tr>
    <th>フォロー中</th>
    <th></th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= User.find(relation.followed_id).name %></td>
    <td><%= link_to "フォローを外す", relation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br>

<%= link_to 'つぶやき一覧へ戻る', user_tweets_path %>
